* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/zamiBuger.jpg);
    background-position: center;

}

.home {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #65B7F3;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 3;
    transition: .4s linear;

    &:hover {
        transform: scale(1.1);
    }
}

h3 {
    display: block;
    width: 45%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px auto 0 auto;
    background-color: #eee;
    z-index: 999999999;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: .6);
    z-index: 1;

}

.wrapper {
    position: relative;
    width: 50%;
    height: 500px;
    margin: 70px auto auto;

    .form-burger {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 110%;
        background-color: rgba($color: #fff, $alpha: .6);
        z-index: 2;
        text-align: center;

        p {
            display: block;
            margin: 5px 75% 0 0;
            font-size: 20px;
            color: #333;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
        }

        h5 {
            display: block;
            margin: 0 75% 0 0;
        }

        input {
            width: 80%;
            height: 40px;
            transition: .4s linear;

            &:focus {
                transform: scale(1.1);
            }

        }

        textarea {
            margin-top: 10px;
            width: 80%;
            transition: .4s linear;

            &:focus {
                transform: scale(1.1);
            }
        }

        .btn {
            margin-top: 12px;
            background-color: #65B7F3;
            height: 50px;
            border: none;
            color: #fff;
            font-size: 17px;
            width: 40%;
        }
    }
}