<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${burger.name}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="css/main.css" th:href="@{/templates/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-lg-8 offset-lg-2">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="text-center" th:text="${burger.name}">TEST</h1>
            <h3 class="text-center" th:text="|Cena ${burger.price}zł|">TEST 25zł</h3>
            <p class="text-justify" th:text="${burger.description}">TEST</p>
            <a href="#" th:href="@{/order/add(burgerId=${burger.id})}" class="btn btn-success">
                Dodaj do zamówienia</a>
        </div>
        <h3 th:if="${rdrmessage}" th:text="${rdrmessage}"></h3>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form action="#" method="post" th:action="@{/burgers/modify}" th:object="${burger}" accept-charset="UTF-8">
                <input type="hidden" th:value="${id}" th:field="*{id}" />
                <label>
                    <input type="text" th:field="*{name}" th:value="*{name}" th:placeholder="${name}"/><br>
                </label>
                <label>
                    <input type="text" th:field="*{price}" th:value="*{price}" th:placeholder="${price}"/><br>
                </label>
                <label>
                    <input type="text" th:field="*{shortDescription}" th:value="*{shortDescription}" th:placeholder="${shortDescription}"/><br>
                </label>
                <label>
                    <textarea rows="4" cols="50" th:field="*{description}" th:value="*{description}"  th:placeholder="${description}"></textarea>
                </label>
                <input type="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>