<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Oswald|Roboto&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main2.css" th:href="@{/templates/css/main.css}">
    <title>BurgerBar/Weddi</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>BurgerBar</h1>
            <p class="welcome">Witaj w Burgerowni! Zamawiaj, zapłać, odbierz specjalny kod i czekaj na swoje
                zamówienie!</p>
            <button class="go-order">Przejdź do zamówienia</button>
        </header>
        <main>
            <article class="order">

            </article>
        </main>
        <footer></footer>
    </div>
</body>

</html>