<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css" th:href="@{/templates/css/login.css}">
</head>

<body>
<div class="wrapper">
    <form class="form-signin" method="post" th:method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Logowanie</h2>
        <input type="text" class="form-control" name="username" placeholder="User" required="" autofocus=""/>
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/></br>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="remember-me"> Zapamiętaj
        </label>
        <button class="btn" type="submit">Zaloguj</button>
    </form>
</div>
</body>

</html>