<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pracownicy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="css/main.css" th:href="@{/templates/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container">
            <h1 class="display-3">Pracownicy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2" th:if="${!users.isEmpty()}">
            <h3 style="color: green" th:if="${rdrmessage}" th:text="${rdrmessage}"></h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Cena</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="user, idx: ${users}">
                    <th scope="row" th:text="${idx.index+1}">1</th>
                    <td th:text="${user.email}">Test burger</td>
                    <td>
                        <a th:href="@{|/panel/users/change-status/${user.id}|}">
                            <div th:switch="${user.enabled}">
                                <p th:case="true"><i class="fas fa-ban"></i></p>
                                <p th:case="false"><i class="fas fa-check-circle"></i></p>
                            </div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Burger2</td>
                    <td>24zł</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a type="button" class="btn btn-primary" th:href="@{/panel/users/add}">Dodaj nowego pracownika</a>
</div>
</body>
</html>